<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listar Usuarios</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/listar_usuario.css' %}"
    />
  </head>
  <body>
    <header class="header">
      <div class="bienvenido">
        <h2>SMART RH</h2>
      </div>
      <div class="user">
        {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}!</p>
        <p>Rol: {{ user.role }}</p>
        <p>Ocupacion: {{ user.ocupacion }}</p>
        <div class="boton-logout">
          <a href="{% url 'logout' %}">
            <button class="logout">Cerrar Sesión</button>
          </a>
        </div>
        {% else %}
        <p>No has iniciado sesión.</p>
        <a href="{% url 'login' %}">Iniciar Sesión</a>
        {% endif %}
      </div>
    </header>
    <div class="container">
      <h2>Lista de Usuarios</h2>
      <table>
        <thead>
          <tr>
            <th>Nombre de Usuario</th>
            <th>Rol</th>
            <th>Ocupación</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.role }}</td>
            <td>{{ usuario.ocupacion }}</td>
            <td>
              <a href="{% url 'editar_usuario' usuario.id %}" class="btn-edit"
                >Editar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <footer>
      <p>Todos los derechos reservados.</p>
      <p>Desarrollado por: Grupo 3</p>
    </footer>
  </body>
</html>
