<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listar Viáticos</title>
    {% load static %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/listar_viaticos.css' %}"
    />
  </head>
  <body>
    <header class="header">
      <div class="bienvenido">
        <a href="{% url 'home' %}"><h2>SMART RH</h2></a>
      </div>
      <div class="user">
        {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}!</p>
        <p>Rol: {{ user.role }}</p>
        <p>Ocupacion: {{ user.ocupacion }}</p>
        <div class="boton-logout">
          <!-- Botón para cerrar sesión -->
          <a href="{% url 'logout' %}">
            <button class="logout">Cerrar Sesión</button>
          </a>
        </div>
        {% else %}
        <p>No has iniciado sesión.</p>
        <a href="{% url 'login' %}">Iniciar Sesión</a>
        {% endif %}
      </div>
    </header>
    <main class="container_viaticos">
      <div class="listado_viaticos">
        <h2>Lista de Solicitudes de Viáticos</h2>
        <table>
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Solicitud</th>
              <th>Sustentos</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for viatico in viaticos %} {% if not viatico.aprobado %}
            <tr>
              <td>{{ viatico.user.username }}</td>
              <td>{{ viatico.solicitud }}</td>
              <td>{{ viatico.sustentos }}</td>
              <td>
                <a
                  href="{% url 'aprobar_viatico' viatico.id %}"
                  class="btn-approve"
                  >Aprobar</a
                >
              </td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
        <!-- Botón para ver el historial de viáticos -->
        <a href="{% url 'historial_viaticos' %}" class="btn-historial"
          >Ver Historial de Viáticos</a
        >
      </div>
      <div class="descripcion">
        <h2>Solicitudes Viáticos</h2>
        <p>
          Al dar click en aprobar se enviará un correo al área correspondiente
          de la aprobación de la solicitud.
        </p>
      </div>
    </main>
    <footer>
      <p>Todos los derechos reservados.</p>
      <p>Desarrollado por: Grupo 3</p>
    </footer>
  </body>
</html>
